*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:Pixel;
    src: url('../fonts/VT323-Regular.ttf');
}
body{
    background-color: #010101;
    color: #fff488;
    font-family: Pixel,sans-serif;
    line-height: 1.55;
}
.main-header{
    position: relative;
}
.main-header::after{
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 12px;
    background-image: url('https://minecraft-pocket.com/uploads/posts/2020-11/1604495976_voxets-block-variants-squint-a-little_5.png');
}
.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.layer{
    height: 100%;
    width: 100%;
    position:absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}
.layer_base{
    transform: translate3d(0,calc(var(--scrollTop)/1.2),0);
}
.layer2{
    transform: translate3d(0,calc(var(--scrollTop)/2),0);
}
.layer1{
    transform: translate3d(0,calc(var(--scrollTop)/3),0);
}
.main-article{
    min-height: 100vh;
    width: 100%;
    text-align: center;
    position:absolute;
    background-size: cover;
    background-position: center;
}

.main-article_header{
    padding-top: 15%;
    font-size:50px;
    padding-bottom: 2%;
    text-shadow: orange,0px,10px;
}
p{
    font-size: 20px;
}
.map-menu{
    margin-top: 740px;
    text-align: center;
    background-image: url('https://media.pocketgamer.com/artwork/na-tpwcu/image_jpeg_1280.jpg');
    width: 100%;
    height: 500px;
}
.map{
    border-radius: 50px;
}
footer{
    text-align: center;
    background-image: url("https://static.planetminecraft.com/files/image/minecraft/data-pack/2022/237/15695111_xl.webp");
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot{
    margin-top: 10%;
    margin-bottom: 10%;
}
.fot p{
    font-size: 105%;
    cursor:pointer;
}
.fot p:hover{
    color:gold;
}
